* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* start */

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}




.test p {
    background-color: rgb(80, 80, 255);
    color: white;
    padding: 13px;
    height: 100px;
    font-size: 26px;
    font-weight: 600;
    text-align: start;
    font-style: italic;
}

.test span {
    font-size: 19px;
    font-weight: 800;
}

/* green card  code*/

.green-card {
    background-color: green;
    border-radius: 3px;
    width: 740px;
    height: 200px;
    margin: auto 410px;
    margin-top: 100px;
}

.green-card p {
    padding: 30px;
    font-family: "Dancing Script", cursive;
}

.span {
    float: right;
    position: relative;
    top: -20px;
}

/* red card code */

.red-card {
    background-color: red;
    width: 300px;
    height: 100px;
    border-radius: 17px;
    margin: auto 610px;
    margin-top: 20px;
}

.red-card p {
    text-align: center;
    padding-top: 10px;
    font-family: "Caveat", cursive;
}

.red-card b {
    text-align: center;
    text-decoration-line: underline;
    padding-left: 100px;
    font-size: 20px;
    padding-top: 5  0px;
}

/* footer code */

footer {
    background-color: darkcyan;
    width: 100%;
    height: 590px;
    margin-top: 100px
}

footer h3 {
    font-variant: small-caps;
    padding-top: 70px;
    font-size: 24px;
    color: white;
    padding-left: 50px;
}

footer p {
    padding: 50px;
    font-size: large;
    font-family: sans-serif;
}