/* start code */

main img {
   width: 100%; 
   height: 540px;
}

main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1664300792059-863ccfe55932?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9yZXN0fGVufDB8fDB8fHww");
}

.card-transparent {
    border-radius: 3px;
    margin: 0 auto;
    width: 350px;
    height: 420px;
    z-index: 100;
    top: 50px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

h5 {
    text-align: center;
    padding-top: 11px;
    font-family: sans-serif;
}

/* card */

.card1 {
    border: 1px solid #ccc;
    width: 340px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
}

.card1 span {
    padding-left: 15px;
    padding-top: -10px;
}

.box {
    position: relative;
    left: 10px;
    margin: 0 auto;
    border-radius: 0;
}

.span {
    position: relative;
    left: 60px;
    font-size: 11px;
    font-weight: bold;
}

.fa-trash-can {
    padding-left: 180px;
    position: relative;
    top: -23px;
    left: 54px;
}

/* card */


.wrapper {

}

.flex-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    gap: 90px;

}

.flex-test span:hover {
    text-decoration-line: line-through;
    transition: 1s;
}

.card2 {
    border: 1px solid #ccc;
    width: 340px;
    height: 30px;
    margin: 25px auto;
    border-radius: 5px;
}

.card2 span {
    padding-left: 15px;
    padding-top: -10px;
}

.box {
    position: relative;
    left: 10px;
    margin: 0 auto;
    border-radius: 0;
}

.span {
    position: relative;
    left: 120px;
    font-size: 11px;
    font-weight: bold;
}

.fa-trash-can {
    padding-left: 180px;
    position: relative;
    top: -23px;
    left: 134px;
    color: red;
}


/* nect page  */

.divv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    gap: 160px;
    position: relative;
    top: 15px;

}

footer {
    background-color: #816f6fb7;
    height: 50px;
    display: flex;
    margin-top: 170px;
    gap: 20px;

}

.can-box i {
    position: relative;
    top: -3px;
}

.fa-arrow-down {
    background-color: #525050;
    padding: 3px 15px;
    color: white;
    border: 1px solid #525050;
    position: relative;
    left: 150px;
    top: 175px;
    border-radiusz`: 5px;
}

.fa-plus {
    background-color: yellow;
    border: 1px solid ;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

footer button {
    padding: 3px 10px;
    border: none;
    background: red;
    font-size: 8px;
    border-radius: 5px;

    
}