* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("https://images.unsplash.com/photo-1714779573259-216b0cf746be?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  color: #f1f1f1;
  min-height: 100vh;
  width: 100%;
  font-family: system-ui;

  overflow-x: hidden;
}

button {
  border-radius: 0 0 5px 0;
  background: #ff4175;
  color: #f1f1f1;
  border: 0;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;

  div {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background: #093289;
    margin: 5px 0;

    transition: all 0.3s ease;
  }

  &.toggled {
    background: #002e6a;
  }
}

.toggled div {
  background: #ea3c83;
}

.toggled div:nth-of-type(1) {
  transform: translate(0, 10px) rotate(-45deg);
}
.toggled div:nth-of-type(2) {
  opacity: 0;
}
.toggled div:nth-of-type(3) {
  transform: translate(0, -10px) rotate(45deg);
}

.sidebar.opened {
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar {
  max-width: 250px;
  padding-block: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  border-radius: 0 5px 5px 0;

  background: rgba(44, 44, 44, 0.4);
  backdrop-filter: blur(5px);
  opacity: 1;
  transition: all ease 0.2s;

  &:hover {
    backdrop-filter: blur(10px);
  }
}

.sidebar .item {
  padding: 15px 10px;
  width: 85%;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 1.2em;
  border-radius: 3px;

  & i {
    padding-right: 10px;
  }
}

.sidebar .item:hover {
  color: #093289;
  background-color: #ea3c83;
}

ul li {
  list-style-type: none;
}

.credit {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  backgorund: #000;
  color: #fff;
}

@media (max-width: 400px) {
  .sidebar {
    min-width: 100%;
    top: 0;
  }
}
