body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}


main img {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes mainimganimation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes mainimganimation {
    100% {
        transform: translate(-500vw);
    }
}